body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.displayflex{
    display: flex;
}
.huf-width{
    width: 50%;
    margin-left: 6%;
}
.huf-width img{
    width: 100%;
}
.linkbutton{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
    color: white;
}
.top-baner{
    background-image: url('images/top-banner.png');
    background-repeat: no-repeat;
}
.drim-big{
    background-image: url('images/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right;

}
.experiences-item{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-radius: 10px;

}
h2{
    font-size: 40px;
}
.Experiences-area{
    background-image: url('images/exp-bg.png');
    background-repeat: no-repeat;
    margin-bottom: 90px;
}
#fast-experiences{
    border-left: 7px solid;
    border-image: linear-gradient(tomato, yellow);
    border-image-slice: 1;
}
#secend-experiences{
    border-left: 7px solid;
    border-image: linear-gradient(tomato, blue);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}
